name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
  uses: actions/setup-node@v3
  with:
    node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run linter
        run: npm run lint # Make sure to have a linting script defined in package.json

      - name: Run tests
        run: npm test
